.col-1{  width: 8.33%;}
.col-2{  width: 16.66%;}
.col-3{  width: 25%;}
.col-4{  width: 33.33%;}
.col-5{  width: 41.66%;}
.col-6{  width: 50%;}
.col-7{  width: 58.33%;}
.col-8{  width: 66.66%;}
.col-9{  width: 75%;}
.col-10{ width: 83.33%;}
.col-11{ width: 91.66%;}
.col-12{ width: 100%;}
.wrapper{
    height: 1000px;
    width: 800;
    margin: auto;
    border: 1px solid red;
}
.row-1{
    height: 100px;
    border-bottom: 1px solid red;
}
.logo{
    border-right: 1px solid red;
    height: 100px;
    float: left;
}
.banner{
    height: 100px;
    width: 74%;
    float: left;
    border: 0px solid rebeccapurple;
}
.row-2{
    height: 150px;
    border-bottom: 1px solid red;
}
.slider-1{
    height: 150px;
    border-right: 1px solid red;
    float: left;
}
.slider-2{
    height: 150px;
    border-right: 1px solid red;
    float: left;
}
.slider-3{
    height: 150px;
    float: left;
}
.row-3{
    height: 800px;
    border-bottom: 1px dashed red;
}
.sidebar{
    height: 800px;
    border-right: 1px solid red;
}
.left-sidebar{
    height: 800px;
    border-right: 1px solid red;
    float: left;
}
.main-contain{
    height: 800px;
    float: left;
    border-right: 1px solid red;
}
.right-sidebar{
    height: 800px;
    float: left;
}
.mc-row-1{
    height:150px;
    border-bottom: 1px solid red;
}
.mcr1-col61{
    height: 150px;
    border-right: 1px solid red;
}
.mc-row-2{
    height: 500px;
    border-bottom: 1px solid red;
}
.mcr2-col1{
    height: 500px;
    border-right: 1px solid red;
    float: left;
}
.mcr2-col2{
    height: 500px;
    border-right: 1px solid red;
    float: left;
}
.mcr2-r1{
    height: 250px;
    border-bottom: 1px solid red;
}
.mcr2-r2{
    height: 250px;
}
.mc-row-3{
    height:100px;
}
.row-4{
    height: 50px;

}
.footer{
    height: 50px;
    text-align:left;
}